.game-chosen .container-fluid {
    background-image: url("../img/jumbo-bg.png");
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 12rem;
}

.it-takes-two .container-fluid {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.new-release {
    background-color: #1f1f1f;
}

.first-section img {
    min-width: 170px;
    
}


/* Navbar */

body {
	margin-top: 75px;
	/* background-color: salmon; */
}

nav .container-fluid {
    height: 45px;
}

.bar-sony {
	height: 30px;
}


.dropdown {
	position: static;
}

.dropdown-menu[data-bs-popper] {
	width: 100%;
	margin-top: 0;
}

.dropdown-menu {
	border: none;
	border-radius: 0;
}

.dropdown-menu.show {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.dropdown-item {
	text-align: center;
}

.dropdown-item img {
	display: block;
	width: 100%;
}


.header-page .navbar

{
    padding: 0;
    background-color: #cd3d0f !important;
}




/* .first-section img {
    max-width: 100%;
   
    min-width: 250px;
}

.first-section .row {
    left: 0;
    bottom: 0;
    color: white;
} */



#first-card {
    border-radius: 0 !important;
}


.ps-plus {
    background-color: sandybrown;
}

.ps-now {
    background-color: blue;
}

footer {
    background-color: blue;
}

footer .list {
    gap: 2rem;
}

footer .span {
    width:fit-content;
}




/* General Styles */

.my_h2 {
    font-size: 1.7rem;
}

.my_text {
    font-size: .7rem;
}

.my_text-1 {
    font-size: .9rem;
}











/* First Section */

header .game-chosen button {

    background-color: #cd3d0f;
    color: white;
    border-radius: 20px;
    font-weight: 600;
}

header .game-bar .img_card {
    padding: .11rem;
    border-radius: 20px;
}

header .game-bar .img_card img {
    border-radius: 20px;
}

.console-playstation .my_h2 {
    margin-top: -.2rem;
}

.console-playstation button {

    color: white;
    border-radius: 20px !important;
    font-weight: 600;
}

.console-playstation .card {
    border-bottom: 2px solid black !important;
    border-radius: 0%;
}

.card {
    background-color: transparent;
}

.it-takes-two  button {

    background-color: #cd3d0f;
    color: white;
    border-radius: 20px;
    font-weight: 600;
}
